<div class="page-body">
    <div class="password-container">
        <h3>Enter a password!!</h3>
        <input type="text" (input)="onInputChange()" [(ngModel)]="passwordKey" required [disabled]="isDisabled"
            #passwordInput="ngModel" />
        <span *ngIf="(passwordInput.dirty || passwordInput.touched) && !passwordKey" class="error-message">To continue
            you must enter the password</span>
    </div>

    <div class="encrypt-container">
        <h2>Generate RSA Keys</h2>
        <div class="get-container">
            <div class="get-your-hash-containter">
                <h3>Get Private Key</h3>
                <button (click)="generatePrivateKey()" [disabled]="isDisabled || !passwordKey" class="hash-button">
                    Get Private Key
                </button>

                <div *ngIf="isPrivateKey">
                    <p class="success-message">Private key generated successfully!</p>
                    <button (click)="openSaveParameters(false, false, true, false)" download="lab4.txt"
                        class="button-save">Save to file</button>
                    <ng-container *ngIf="isSaveParametersPriv">
                        <div class="save-container">
                            <p class="save-path file-name">Select a folder to save: <button class="color-margin"
                                    (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ?
                                    savePath :
                                    'Nothing was selected'}} </span> </p>
                            <p class="file-name">Enter the file name</p>
                            <input type="text" [(ngModel)]="fileName_priv" [disabled]="!savePath" />
                            <button (click)="saveFile(TypeService.PrivateKey)" class="button-save select"
                                [disabled]="!fileName_priv">Save</button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="get-your-hash-containter">
                <h3>Get Public Key</h3>
                <input type="file" (change)="onFileSelected($event, TypeService.PrivateKey)" #privateFileInput />
                <button (click)="generatePublicKey()" [disabled]="isDisabled || !privateKeyFile || !passwordKey"
                    class="hash-button">
                    Get Public Key
                </button>
                <div *ngIf="isPublicKey">
                    <p class="success-message">Public key generated successfully!</p>
                    <button (click)="openSaveParameters(false, false, false, true)" download="lab4.txt"
                        class="button-save">Save to file</button>
                    <ng-container *ngIf="isSaveParametersPubl">
                        <div class="save-container">
                            <p class="save-path file-name">Select a folder to save: <button class="color-margin"
                                    (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ?
                                    savePath :
                                    'Nothing was selected'}} </span> </p>
                            <p class="file-name">Enter the file name</p>
                            <input type="text" [(ngModel)]="fileName_publ" [disabled]="!savePath" />
                            <button (click)="saveFile(TypeService.PublicKey)" class="button-save select"
                                [disabled]="!fileName_publ">Save</button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <hr/>
        <h2>RSA</h2>
        <div class="get-container">
            <div class="get-your-hash-containter">
                <h3>RSA Encryption</h3>
                <p>Choose a file to encrypt</p>
                <input type="file" (change)="onFileSelected($event, TypeService.Encryption)" #encryptInput />
                <p>Choose file with public key</p>
                <input type="file" (change)="onFileSelected($event, TypeService.PublicKey)" #publicFile />
                <button (click)="encryptRSA()" class="hash-button"
                    [disabled]="isDisabled || !publicKeyFile || !encryptInputFile">
                    Encrypt
                </button>

                <div *ngIf="encryptedData" class="result-message">
                    <h3>Encrypted result</h3>
                    <p class="success-message">Your file was successfully encrypted!</p>
                    <button (click)="openSaveParameters(true, false, false, false)" download="lab4.txt"
                        class="button-save">Save to file</button>
                    <ng-container *ngIf="isSaveParametersEncrypt">
                        <div class="save-container">
                            <p class="save-path file-name">Select a folder to save: <button class="color-margin"
                                    (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ?
                                    savePath :
                                    'Nothing was selected'}} </span> </p>
                            <p class="file-name">Enter the file name</p>
                            <input type="text" [(ngModel)]="fileName_encr" [disabled]="!savePath" />
                            <button (click)="saveFile(TypeService.Encryption)" class="button-save select"
                                [disabled]="!fileName_encr">Save</button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="get-your-hash-containter">
                <h3>RSA Decryption</h3>
                <p>Choose a file to decrypt</p>
                <input type="file" (change)="onFileSelected($event, TypeService.Decryption)" #decryptInput />
                <p>Choose file with private key</p>
                <input type="file" (change)="onFileSelected($event, TypeService.PrivateKey)" #privateFile />

                <button (click)="decryptRSA()" class="integrity-button"
                    [disabled]="isDisabled || !privateKeyFile || !decryptInputFile || !passwordKey">
                    Decrypt
                </button>

                <div *ngIf="decryptedBlob" class="result-message">
                    <h3>Decrypted result</h3>
                    <p class="success-message">Your file was successfully decrypted!</p>
                    <button (click)="openSaveParameters(false, true, false, false)" download="lab4.txt"
                        class="button-save">Save to file</button>
                    <ng-container *ngIf="isSaveParametersDecrypt">
                        <div class="save-container">
                            <p class="save-path file-name">Select a folder to save: <button class="color-margin"
                                    (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ?
                                    savePath :
                                    'Nothing was selected'}} </span> </p>
                            <p class="file-name">Enter the file name</p>
                            <input type="text" [(ngModel)]="fileName_decr" [disabled]="!savePath" />
                            <button (click)="saveFile(TypeService.Decryption)" class="button-save select"
                                [disabled]="!fileName_decr">Save</button>
                        </div>
                    </ng-container>
                </div>

                <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>