.password-container {
  margin-inline: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ce3939;;
  }
  input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem 1rem;
    border: 1px solid #ce3939;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    margin-bottom: 1rem;
    &:focus{
        outline: none;
        box-shadow: 0 0 0 2px #ffa9877d;
    }
  }
  input:disabled {
    background-color: #e5e5e5;
  }
}
.encrypt-container {
  max-width: 1200px;
  margin: 2rem auto;
  margin-top:0;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Inter", Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  hr{
    border:none;
    height: 0.5px;
    width:90%;
    background-color: #4a90e2;
    margin-bottom: 25px;
  }
  .image-container{
    width:320px;
    display:flex;
    justify-content: center;
    img {
        width:220px;
        height:auto;
        border: 2px solid #adadad;
        border-radius: 4px;
    }
  }

  h2{
    margin:0;
    width:100%;
    text-align:center;
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #222;
  }
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .get-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom:15px;
  }
  .get-your-hash-containter {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    .result-message{
      width:90%;
    }
    .encrypted-message{
        height:auto;
        max-height:200px;
        overflow-wrap: break-word;
        overflow:scroll;
    }
  }
  input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }
  input[type="text"],
  input[type="file"] {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    margin-bottom: 1rem;
  }
  input:disabled {
    background-color: #e5e5e5;
  }
  .integrity-test {
    color: #3a7bd5;
    font-weight: 700;
    text-align: center;
    font-size: 17px;
  }
  button {
    margin: 1rem 0.5rem 0 0;
    margin-bottom:10px;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover,
    &:active {
      background-color: #3a7bd5;
    }
    &:disabled {
      background-color: #767676;
      cursor: default;
    }
  }
  .color-margin {
    margin: 1rem 0.5rem 0 0;
    padding: 0.2rem 0.8rem;
    font-size: 0.95rem;
    font-weight: 300;
  }
  .save-container {
    width:100%;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #adadad;
    margin-top: 1rem;
    .file-name,
    .path-text {
      display: block;
      margin: 0.5rem 0;
    }
  }
  p {
    margin: 0.5rem 0;
    line-height: 1.5;
  }

  .path-text {
    color: #5d5d5d;
    font-size: 14px;
  }
}

.error-message {
    color: #ae1515;
    font-weight: 700;
    margin:0;
    margin-bottom:10px;
}

.loading {
  display: block;
  width: 100px;
  height: auto;
  margin: 50px auto;
}
