<div class="page-body">
    <div class="get-your-hash-containter">
        <h3>Get your hash</h3>
        <label>Enter a string to hash or choose a file</label>
        <input type="text" [(ngModel)]="inputText" (input)="onInputChange()" required [disabled]="isDisabled"/>
        <input type="file" (change)="onFileSelected($event, TypeService.HashValue)" #fileinput/>
        <button (click)="hashInput()" class="hash-button" [disabled]="isDisabled||(!inputText && !selectedFile)">Hash</button>

        <div *ngIf="hashValue()">
            <h3>Your generated hash</h3>
            <p>{{hashValue()}}</p>
        
            <button (click)="openSaveParameters()" download="lab2.txt" class="button-save">Save to file</button>
            <ng-container *ngIf="isSaveParameters">
                <div class="save-container">
                    <p class="save-path file-name">Select a folder to save: <button class="color-margin" (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ? savePath : 'Nothing was selected'}} </span> </p>
                    <p class="file-name">Enter the file name</p>
                    <input type="text" [(ngModel)]="fileName" [disabled]="!savePath"/>
                    <button (click)="saveFile()" class="button-save select" [disabled]="!fileName">Save</button>
                </div>
            </ng-container>
        </div>
    </div>
    <img class="loading" *ngIf="isDisabled" src="assets/loading.gif" alt="loading"/>


    
    <div class="get-your-hash-containter">
        <h3>Check integrity of a file</h3>
        <label>Select a file to check</label>
        <input type="file" (change)="onFileSelected($event, TypeService.TestIntegrity)" #testFileInput/>
        <label>Select a file with hash value</label>
        <input type="file" (change)="onFileSelected($event, TypeService.ControlIntegrity)" #compareFileInput/>
        <button (click)="checkIntegrity()" class="integrity-button" [disabled]="isDisabled||!compareFile||!testFile">Check integrity</button>

        <div *ngIf="compareTest?.hashValue && compareTest?.hashCompare">
        <h4>Test result:</h4>
        <p>Calculated Hash: {{compareTest?.hashValue}}</p>
        <p>Previous Hash: {{compareTest?.hashCompare}}</p>
        <p class="integrity-test">{{compareTest?.integrityPassed ? 'File integrity maintained' : 'The file has been modified'}}</p>
    </div>
    </div>
</div>