<div class="page-body">
    <label>Enter the amount of pseudo-random numbers to generate random sequence</label>
    <input type="number" [(ngModel)]="n" required [disabled]="isDisabled">
    <button (click)="createSequence()" 
    class="generate-button"
    [disabled]="isDisabled">Generate</button>
    <img class="loading" *ngIf="isDisabled" src="assets/loading.gif" alt="loading"/>

    <div *ngIf="randSequence().sequence">
        <h3>Your generated sequence</h3>
        <div class="sequence" (click)="onExpandSequence()">
            <span *ngIf="!isExpanded">Open generated sequence</span>
            <ng-container>
                <p *ngIf="isExpanded" class="nums" [ngStyle]="{ display: isExpanded ? 'block' : 'none' }">{{randSequence().sequence | slice:0:50000 }}</p>
            </ng-container>
            <button (click)="onExpandSequence()">{{ isExpanded ? '^':'˅'}}</button>
        </div>
        <h3>This sequence period: {{randSequence().period}}</h3>
    
        <button (click)="openSaveParameters()" download="lab1.txt" class="button-save">Save to file</button>
        <ng-container *ngIf="isSaveParameters">
            <div class="save-container">
                <p class="save-path file-name">Select a folder to save: <button class="color-margin" (click)="onPathSelect()">Select</button><span class="path-text">{{savePath ? savePath : 'Nothing was selected'}} </span> </p>
                <p class="file-name">Enter the file name</p>
                <input type="text" [(ngModel)]="fileName" [disabled]="!savePath"/>
                <button (click)="saveFile()" class="button-save select" [disabled]="!fileName">Save</button>
            </div>
        </ng-container>

        <p>You can test this generator by clicking this button</p>
        <button (click)="testGenerator()" class="button-save">Test generator</button>
        <div *ngIf="testResponse().probability">
            <h3 class="statistics">Statistics</h3>
            <p>Generator's probability: {{testResponse().probability}}</p>
            <p>Cesàro theory's probability: {{testResponse().actualProbability}}</p>
            <p>Generator's PI value: {{testResponse().PIestimate}}</p>
            <p>Actual PI value: {{testResponse().PIactual}}</p>
        </div>
    </div>
</div>